/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --var--poppins: "Poppin", sans-serif;
  --var--roboto: "Roboto", sans-serif;
  --var--inter: "Inter", sans-serif;
}

body {
  font-size: medium;
  font-family: var(--var--poppins);
  font-weight: 500;
  color: #000000;
}

/* reused style  */

.conteiner {
  width: 1720px;
  margin: auto;
}

.btn {
  font-family: var(--var--poppins);
  font-weight: 500;
  color: #FEFEFE;
  background-color: #000000;
  border-radius: 7px;
  cursor: pointer;
}

.section-title {
  position: relative;
  z-index: 1;
}

.section-title h3 {
  font-size: 48px;
  font-family: var(--var--poppins);
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 6%;
  color: #000000;
}

/* nav ber style */
.nav-ber {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.nav-ber .nav-icon {
  display: flex;
  align-items: center;
  gap: 13px;
}

.nav-ber .nav-icon h4 {
  font-size: 40px;
  font-family: var(--var--poppins);
  font-weight: 900;
  letter-spacing: 3%;
  color: #000000;
}

.nav-ber .menu-ber {
  display: flex;
  align-items: center;
  gap: 54px;
}

.nav-ber .menu-ber .menu ul {
  display: flex;
  gap: 65px;
}

.nav-ber .menu-ber .menu ul li {
  list-style: none;
}

.nav-ber .menu-ber .menu ul li a {
  font-size: 22px;
  font-family: var(--var--poppins);
  font-weight: 500;
  letter-spacing: 1%;
  text-decoration: none;
  color: #242323;
  cursor: pointer;
}

.nav-ber .menu-ber .singup-btn {
  font-size: 24px;
  letter-spacing: -3%;
  padding: 17px 22px;
}

/* hero section style  */
.hero-section {
  margin-top: 56px;
  background-color: #F4F6F5;
  border-radius: 59px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}

/* hero text stye  */
.hero-section .hero-text {
  padding-top: 77px;
  padding-left: 119px;
  position: relative;
  z-index: 1;
}

.hero-section .hero-text h2 {
  font-size: 96px;
  font-family: var(--var--poppins);
  font-weight: 900;
  line-height: 120px;
  color: #000000;
  margin-bottom: 40px;
}

.hero-section .hero-text .text-bg-1 {
  position: absolute;
  top: 68px;
  left: 82px;
  z-index: -1;
}

.hero-section .hero-text .text-bg-2 {
  position: absolute;
  top: 302px;
  left: 94px;
  z-index: -1;
}

.hero-section .hero-text p {
  font-size: 32px;
  font-family: var(--var--poppins);
  font-weight: 400;
  color: #191818;
  letter-spacing: -5%;
  margin-bottom: 32px;
}

/* hero button style  */
.hero-section .hero-text .shop-now {
  font-size: 30px;
  padding: 18px 40px;
}

/* hero image style  */
.hero-section .hero-img {
  padding-top: 68px;
  padding-right: 81px;
  position: relative;
}

.hero-section .hero-img .hero-star-1 {
  position: absolute;
  top: 68px;
  right: 914px;
}

.hero-section .hero-img .hero-star-2 {
  position: absolute;
  top: 104px;
  right: 238px;
}

.hero-section .hero-img .hero-star-3 {
  position: absolute;
  bottom: 34px;
  right: 871px;
}

.hero-section .hero-img .hero-star-4 {
  position: absolute;
  bottom: 92px;
  right: 83px;
}

/* brand banner style  */
.brand-section {
  background-color: #EBD96B;
  padding-top: 61px;
  padding-bottom: 54px;
  margin-bottom: 69px;
}

.brand-section .brand-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 71px;
}

/* new arrivals section style  */
.arrivals-conteiner {
  margin-bottom: 190px;
}

.arrivals-conteiner .section-title {
  margin-bottom: 118px;
}

.arrivals-conteiner .section-title img {
  position: absolute;
  top: 24px;
  left: 230px;
  z-index: -1;
}

.arrivals-conteiner .arrival-cards {
  display: flex;
  justify-content: space-between;
}

.arrival-cards .arrival-card .arrival-card-img {
  margin-bottom: 28px;
}

.arrival-cards .arrival-card .arrival-card-text-info {
  display: flex;
  justify-content: space-between;
}

.arrival-cards .arrival-card .arrival-card-text-info .card-text h4 {
  font-size: 32px;
  font-family: var(--var--poppins);
  font-weight: 500;
  letter-spacing: -4%;
  line-height: 50px;
  color: #191919;
  margin-bottom: 7px;
}

.arrival-cards .arrival-card .arrival-card-text-info .card-text p {
  font-size: 24px;
  font-family: var(--var--poppins);
  font-weight: 500;
  letter-spacing: -4%;
  line-height: 50px;
  color: #7F7F7F;
}

/* sale banner section style  */
.sale-banner {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#F9DF56, #EDCE49, #E0C340);
  margin-bottom: 190px;
}

.sale-banner .banner-img {
  overflow: hidden;
  position: relative;
}

.sale-banner .banner-img .start1 {
  position: absolute;
  top: 152px;
  left: 136px;
}

.sale-banner .banner-img .start2 {
  position: absolute;
  top: 84px;
  left: 765px;
}

.sale-banner .banner-img .start3 {
  position: absolute;
  bottom: 375px;
  left: 187px;
}

.sale-banner .banner-img .start4 {
  position: absolute;
  bottom: 227px;
  left: 816px;
}

.sale-banner .sale-info {
  padding-top: 128px;
  padding-left: 67px;
  overflow: hidden;
}

.sale-info .sale-info-text {
  width: 666px;
}

.sale-info .sale-info-text .sale-text {
  position: relative;
  z-index: 1;
  margin-bottom: 33px;
}

.sale-info .sale-info-text .sale-text h1 {
  font-size: 111px;
  font-family: var(--var--poppins);
  font-weight: 900;
  line-height: 137px;
  color: #000000;
}

.sale-info .sale-info-text .sale-text .sale-text-bg {
  position: absolute;
  top: -12px;
  left: -23px;
  z-index: -1;
}

.sale-info .sale-info-text .sale-off {
  margin-bottom: 40px;
}

.sale-info .sale-info-text .sale-off h6 {
  font-size: 36px;
  font-family: var(--var--poppins);
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -2%;
  color: #231300;
}

.sale-info .sale-info-text .time-terms {
  margin-bottom: 61px;
}

.sale-info .sale-info-text .time-terms h6 {
  font-size: 36px;
  font-family: var(--var--poppins);
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -2%;
  color: #000000;
}

.sale-info .sale-info-text .time-terms .time-text {
  font-weight: bold;
}

.sale-info .sale-info-text .shop-now {
  font-size: 27px;
  font-weight: 600;
  padding: 26px 51px;
}

/* favorite section style  */
.fav-conteiner {
  margin-bottom: 220px;
}

.fav-conteiner .section-title {
  margin-bottom: 104px;
}

.fav-conteiner .section-title img {
  position: absolute;
  top: 32px;
  left: 275px;
  z-index: -1;
}

.favourite-cards {
  display: flex;
  justify-content: space-between;
}

.favourite-card .fav-card-img {
  margin-bottom: 28px;
}

.favourite-card .fav-card-info {
  display: flex;
  justify-content: space-between;
}

.favourite-card .fav-card-info .fav-card-text h4 {
  font-size: 32px;
  font-family: var(--var--poppins);
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -4%;
  color: #000000;
}

.favourite-card .fav-card-info .fav-card-text p {
  font-size: 24px;
  font-family: var(--var--poppins);
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -4%;
  color: #7F7F7F;
}

/* mobile app section style  */
.app-conteiner {
  padding: 0px 119px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}

.app-info {
  width: 507px;
  margin-top: 181px;
  margin-bottom: 147px;
}

.app-info .app-text {
  margin-bottom: 65px;
}

.app-info .app-text h3 {
  font-size: 45px;
  font-family: var(--var--poppins);
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 5%;
  color: #000000;
  margin-bottom: 41px;
}

.app-info .app-text p {
  font-size: 24px;
  font-family: var(--var--poppins);
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -4%;
  color: #7C7C7C;
}

.app-info .app-link {
  display: flex;
  justify-content: start;
  gap: 19px;
}

.mobile-conteiner {
  width: 328px;
  outline: 22px solid #C2C8DA;
  border-radius: 35px;
  padding: 39px 26px 23px 26px;
  box-shadow: 0px 0px 62px -7px;
  margin-right: 153px;
  background-color: #FFFFFF;
  position: relative;
}

.m-bg-1 {
  position: absolute;
  top: 40px;
  right: -153px;
  z-index: -1;
}

.m-bg-2 {
  position: absolute;
  top: 90px;
  right: -102px;
  z-index: -1;
}

.m-bg-3 {
  position: absolute;
  top: 137px;
  right: -47px;
  z-index: -1;
}

.m-bg-4 {
  position: absolute;
  bottom: 103px;
  right: -136px;
}

.m-bg-5 {
  position: absolute;
  top: 55px;
  left: -133px;
}

.m-bg-6 {
  position: absolute;
  bottom: 7px;
  left: -155px;
}

.m-bg-7 {
  position: absolute;
  top: 40px;
  right: -115px;
}

.mobile-header {
  margin-bottom: 19px;
}

.mobile-header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.mobile-header .mobile-title {
  position: relative;
  z-index: 1;
  margin-bottom: 14px;
}

.mobile-header .mobile-title h6 {
  font-size: 22px;
  font-family: var(--var--inter);
  font-weight: bold;
  color: #000000;
}

.mobile-header .mobile-title img {
  position: absolute;
  top: 16px;
  left: 121px;
  z-index: -1;
}

.mobile-header .search-bar {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #DDDDDD;
  border-radius: 14px;
  padding: 8px 0px 7px 11px;
}

.mobile-header .search-bar span {
  font-size: 14fpx;
  font-family: var(--var--inter);
  font-weight: 400;
  color: #6E6F72;
}

.m-body-conteiner {
  position: relative;
}

.m-body-conteiner .tags {
  margin-bottom: 25px;
}

.m-body-conteiner .tags ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.-m-body-conteiner .tags ul li {
  list-style: none;
  font-size: 11px;
  font-family: var(--var--poppins);
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 12px;
  background-color: #E9E6E6;
  color: #8A8A8A;
}

.m-body-conteiner .tags ul .active {
  background-color: #EBD96B;
  color: #000000;
}

.m-body-conteiner .m-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.m-body-conteiner .m-cards .m-card .card-img {
  margin-bottom: 11px;
}

.m-body-conteiner .m-cards .m-card .card-info p {
  font-size: 12px;
  font-family: var(--var--poppins);
  font-weight: 500;
  color: #000000;
}

.m-body-conteiner .m-cards .m-card .card-info span {
  font-size: 12px;
  font-family: var(--var--poppins);
  font-weight: 400;
  color: #757575;
}

.m-body-conteiner .mobile-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 19px 28px 24px 28px;
  background-color: #FFFFFF;
  position: absolute;
  left: -26px;
  right: -26px;
  bottom: -20px;
  border-radius: 0px 0px 35px 35px;
}

.mobile-footer .card-icon {
  position: relative;
}

.mobile-footer .card-icon span {
  font-size: 10px;
  font-family: var(--var--inter);
  font-weight: 600;
  padding: 0px 3.5px 0px 3.5px;
  border-radius: 50%;
  color: #FFFFFF;
  background: #EA1701;
  position: absolute;
  top: -7px;
  left: 16px;
}